body {
  background: whitesmoke;
  width: 800px;
  margin: auto;
}

h1 {
  color: maroon;
  text-align: center;
}

p {
  padding: 10px;
}

.first-comment {
  text-align: center;
}

.index-img {
  text-align: center;
}

.boarder {
  color: gray;
  border: 1px solid gray;
  margin-bottom: 10px;
}